.home-header {
  margin-top: 0;
  color: #bdb2ff;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: #bdb2ff;
}
